.main-nav {
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 1fr 1fr 1fr 10rem;

    margin-top: -55px;
}

.nav-logo{
    grid-column: 4/5;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.logo-circle{
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
    border: 5px solid rgb(10, 256, 200);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-left-nav-links{
    grid-column: 2/3;
}
.second-left-nav-links{
    grid-column: 3/4;
}
.first-right-nav-links{
    grid-column: 5/6;
 }
.second-right-nav-links{
    grid-column: 6/7;
}

.first-right-nav-links, .second-left-nav-links{
    justify-content: center;
    align-items: end;
}
.first-left-nav-links, .second-right-nav-links{
    justify-content: center;
    align-items: center;
}

.first-left-nav-links a, .second-right-nav-links a{
    color: white;
    font-weight: bold;
}
.nav-links{
    list-style-type: none;
    height: 5rem;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;
}

@media (max-width: 998px) {
    .main-nav {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .nav-logo{
        grid-column: 3/4;
    }

    .first-left-nav-links{
        grid-column: 1/2;
        justify-content: center;
        align-items: center;
    }
    .second-left-nav-links{
        grid-column: 2/3;
        justify-content: center;
        align-items: flex-end;
    }
    .first-right-nav-links{
        grid-column: 4/5;
        justify-content: center;
        align-items: flex-end;
     }
    .second-right-nav-links{
        grid-column: 5/6;
        justify-content: center;
        align-items: center;
    }
}